/*---------------------------------------------*/
/* BASIC SETUP FOR IGNITE */
/*---------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*---------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------*/

.row {
  /* max-width: 1140px; */
  margin: 0 auto;
}

section {
  padding-bottom: 75px;
}

h1,h2 {
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  font-size: 280%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
}

/*---------------------------------------------*/
/* SECTIONS */
/*---------------------------------------------*/

.section-feature{
  padding: 60px;
}

.section-requirements div div{
  border: 1px solid #F5F5F5;
  padding: 50px 50px;
  margin: 0;
  text-align: center;
}

.section-feature-image {
  border-top: 1px solid #F5F5F5;
  padding-left: 60px;
  padding-right: 60px;
}

.feature-img {
  width: 100%;
  /* max-width: 1140px; */
}
/*---------------------------------------------*/
/* HEADER */
/*---------------------------------------------*/
header {
  background-image: url(../img/header-img-01.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-text-box {
  position: absolute;
  /* width: 1140px; */
  top: 80%;
  left: 50%;
}

/*---------------------------------------------*/
/* NAVBAR */
/*---------------------------------------------*/
.nav {
  padding: 30px 30px;
}
.logo {
  height: 30px;
  width: auto;
  margin: 15px 15px;
  float: left;
}

/* Main navi*/
.main-nav {
  float: right;
  list-style: none;
  margin: 15px 15px;
}

.main-nav li {
  display: inline;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #000;
  text-decoration:none;
  font-size: 90%;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ff3454;
}

/* Sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}
/*---------------------------------------------*/
/* FOOTER */
/*---------------------------------------------*/
footer{
  background-color: #ff3454;
}

.footer-nav{
  list-style: none;
  float: left;
  margin: 10px 10px;
  padding-left: 60px;
}

.social-links{
  list-style: none;
  float: right;

}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
  color: #fff;
}

.social-img {
  height: 20px;
  width: auto;
  margin: 10px 10px;
  /* border: 2px solid #fff; */
  /* float: left; */
}

/*---------------------------------------------*/
/* Animation */
/*---------------------------------------------*/
.js--wp-1 {
  opacity: 0;
}

.js--wp-2 {
  opacity: 0;
}
.js--wp-2-display {
  opacity: 1;
}

.js--wp-3 {
  opacity: 0;
}
.js--wp-3-display {
  opacity: 1;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background:#ff3454;
  z-index: 9999;
  font-size: 65px;
  text-align: center;
  padding-top: 200px;
  color: #fff;
  font-family:tahoma;
}